{% extends 'base.html' %}


{% block content %}
{% load static %}
<div class="container">
    <div class="p-4 m-4">
        <div class="col-lg-4 mt-4 border mb-4 mx-auto rounded pt-4" style="background-color: #0008">
            <div class="text-center col">
            
                <img 
                src="{% static 'login2.png' %}" alt=""
                class="" style="height: 150px;">
            <!-- <hr> -->
            <div class="display-8 text-white">Login Here</div>
            <hr>
            </div>
            <h3 hidden class="alert alert-light border mt-4 mb-4 rounded">Login Here</h3>
            <form action="/login" method="POST">
                
                {% csrf_token %}

                {% if error%}
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
                {% endif %}
                <!-- email -->
                <div class="form-group text-white">
                    <label for="">Email</label>
                    <input required type="email" name="email" id=""
                    value="{{values.email}}" 
                    class=" form-control-sm form-control bg-white text-dark" placeholder="example@gmail.com">
                </div>


                <!-- password -->
                <div class="form-group text-white">
                    <label for="">Password</label>
                    <input type="password" 
                    name="password" 
                    id=""
                     class="form-control form-control-sm bg-white text-dark" placeholder="********">
                </div>

                <hr>
                <div class="form-group">
                    <input class="btn btn-sm btn-success col-lg-12" type="submit" value="Login">
                </div>

                
            </form>
        </div>
    </div>
</div>

{% endblock %}